# Ignore everything by default
*

# Bash
!.bash_profile
!.bashrc

# ZSH
!.zprofile
!.zshrc

# Git
!.gitignore
!.gitmodules

# Vim
!.vimrc

# Misc files
!.profile
!.xinitrc
!.Xresources
!.pam_environment

# Scripts
!scripts
!scripts/**

# Config
!.config
!.config/*
!.config/*/*
!.config/polybar/**
!.config/ranger/**
!.config/systemd/user/*
!.config/wal/**
.config/qutebrowser/bookmarks
.config/qutebrowser/colors.yml

# Bootstrapping/Installation
!bootstrapping
!bootstrapping/*
!dotbot_link
!install
!install.conf.yaml
!packages_to_install
